<h1>Editing Subscription</h1>

<% @medications.each do |m| %>
    <% if @subscription.medications.include?(m) %>
      <%= button_to "Unsubscribe from #{m.name}",
                    subscription_subscription_line_item_path(@subscription, @subscription.line_item_for(m)),
                    method: :delete %>
    <% else %>
      <%= button_to "Subscribe to #{m.name}",
                    subscription_subscription_line_items_path(@subscription),
                    params: { subscription_line_item: { medication_id: m.id } } %>
    <% end %>
<% end %>

<%= link_to 'Check Out' %> |
<%= link_to 'Back', subscriptions_path %>
