<h1>My Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="list-group center bg-primary">
    <% @subscriptions.each do |subscription| %>
      <tr class="list-group-item bg-info text-white">
        <td>This is Your Subscription!</td>
        <!-- <td><%#= link_to 'Show', subscription, class: "btn btn-primary" %></td> -->
        <td><%= link_to 'Edit', edit_subscription_path(subscription), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
