// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.med-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.med-table-title {
  display: flex;
  justify-content: flex-start;
}

.med-table-buttons {
  margin-top: 20px;
}
